<!DOCTYPE html>
<html lang="en">

<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
 <script>tinymce.init({ selector:'textarea', browser_spellcheck: true, height : 200, menubar: false, plugins: [
        "advlist autolink lists link image charmap print preview anchor",
        "searchreplace visualblocks code fullscreen",
        "insertdatetime media table contextmenu paste"
    ], toolbar: 'undo redo | bold italic strikethrough | alignleft aligncenter alignright alignjustify | fontselect fontsizeselect | bullist numlist | outdent indent | insertdatetime | table'
 });</script>
</head>

<body>
  <div class="navbar" role="navigation">
  <div>
      <p class="navbar-brand text-muted">Hidden Agenda</p>
  </div>
  </div>
    <div class="container">
      {% if error %}
      {% for e in error %}
        <p><strong>Error:</strong> {{ e }}
      {% endfor %}
      {% endif %}
        <div class="header">
            <h3 class="text-muted">Add comments</h3>
        </div>
        <hr/>
        {% from "_formhelpers.html" import render_field %}
        <form method="POST" action="/write_comments">
          <dl>
            {{ form.csrf_token }}
            {{ render_field(form.filename) }}
            <br />
            {{ render_field(form.filecomments) }}
          </dl>
          <br />
          <p><input type="submit" class="btn btn-primary" value="Add comments">
        </form>
        <hr/>
    </div>
    </div>
</body>
</html>
